.signup{
	text-align: center;
	background-color:background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	padding:25px;
	border: 1px solid black;
	height:60px;
	width: 60px;
	border-radius: 50%;
	margin-left: 90%;
	margin-top: 1%;

}
a{
	text-decoration: none;
	display: block;
}
.box{
	width:300px;
	height:350px;
	top: 50%;left: 50%;
	position: absolute;
	transform:translate(-50%,-50%);
	border:4px solid transparent;
	border-image: linear-gradient(45deg,rgba(179,220,237,1) 0%,
	 rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
	border-image-slice: 1;
}
.formdiv{
	margin-top: 25%;
}
input[type=email],input[type=password]{
	border-bottom: 2px solid rgba(41,184,229,1); 
	border-left: 0;
	border-top: 0;
	border-right: 0;
}
a:hover{
	/*color: red;*/
	text-decoration: underline;
}